body {
    font-family: 'Arial, Roboto';
    margin: 0;
    padding: 0;
}

/* Navigation */
nav {
    border: 2px solid #f0a500;
    font-family: 'Arial, sans-serif';
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1d1d;
    padding: .13rem;
    color: #fff;
    font-size: 1.5rem;
    text-decoration: wavy;
}

nav .logo {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: wavy;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    color: #f9f9f9;
    text-decoration: none;
    font-size: 1rem;
}

nav ul li a:hover {
    color: #ebc36b;
}

h1{
    text-align: center;
    color :#dca308;
}
body{
    background-color: #1e1d1d;
}
#login-form {
    align-self: center;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    padding-right: 40px;
    padding-bottom:10px;
    border: 1px solid #f0a500;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(199, 123, 24, 0.935);
    background-color :#1e1d1d;
    justify-content: flex-end;
    color :#f3f2f1;
    font-size: 20px;
    text-align: center;
  }
   form a {
        color: white;
         }
    form a:hover{
        color: #ae862e;
    }
   input[type="text"],[type="password"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #636060;
    text-decoration: solid;
    font-size: 20px;
  }
  .google-login {
    background-color: #db4437;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.google-login:hover {
    background-color: #c29721;
}

  button[type="submit"] {
    width: 102%;
    height: 50px;
    background-color: #f0a500;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #f6ca2a;  
  }

footer {
    margin-bottom: 0;
    border: 2px solid #f0a500;
    background-color: #252525;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position:bottom;
    width: 100%;
    bottom: 0;
    height: 20px;
}
