body {
    background: #f9f1e7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .create-blog {
    background: #fff7e6;
    padding: 2.5rem 3rem;
    text-align: center;
    width: 60%;
    max-width: 900px;
    margin: 4rem auto;
    border-radius: 15px;
    box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #04c904da, #53db144d);
  }
  
  .create-blog h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #da0c0cef;
    font-weight: 800;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
    position: relative;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #6d3c37;
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 12px;
    border: 2px solid #f7d1c0;
    background-color: #fff3e6;
    color: #6d3c37;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #f6a5a1;
    box-shadow: 0px 0px 8px rgba(230, 5, 39, 0.884);
    outline: none;
  }
  
  textarea {
    resize: vertical;
  }
  
  .btn {
    background: #4b52c0;
    color: #fff;
    padding: 0.75rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    transition:  0.3s ease, transform 0.2s ease;
    border: none;
  }
  
  .btn:hover {
    background: #4c16c9;
    transform: scale(1.05);
  }
  
  .save-btn {
    background: #755809da;
 }
  
  .save-btn:hover {
    background: #1b40e6;
  }
  
  .post-btn {
    background: #887ad6;
  }
  
  .post-btn:hover {
    background: #5f4bd1;
  }
  
  .form-group select {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 12px;
    border: 2px solid #f7d1c0;
    /* Same soft peach color */
    background: #fff3e6;
    color: #6d3c37;
    box-shadow: 5px , 10px black;
    cursor: pointer;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
  
  .form-group select:focus {
    border-color: #f6a5a1;
    box-shadow: 0px 0px 8px rgba(255, 182, 193, 0.6);
    outline: none;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .create-blog {
    animation: fadeInUp 0.8s ease-in-out;
  }